<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Ayotzinapa</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'app3d/css/main.css' %}" />

    <script type="text/javascript" src="{% static 'app3d/js/three.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/orbitcontrols.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/helper.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/renderer.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/loader.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/poi.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/converter.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/popgeometry.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/scene.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/main.js' %}"></script>

</head>
<style type="text/css"></style>
<body>
    <div id="container"> </div>
</body>
</html>
