<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Ayotzinapa{% endblock %}</title>
    {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.1/d3.min.js" type='text/javascript'></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'app3d/js/three.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/dat.gui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/THREE.TextTexture.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/THREE.TextSprite.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/orbitcontrols.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/label.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/helper.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/loader.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/poi.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/converter.js' %}"></script>
    <script type="text/javascript" src="{% static 'app3d/js/popgeometry.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'archive/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'archive/img/favicon.ico' %}" type="image/x-icon">
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'archive/css/index.css' %}" rel='stylesheet'/>
    <!-- OG FB -->
   <meta property="og:url"           content="http://www.plataforma-ayotzinapa.org" />
   <meta property="og:type"          content="Plataforma Ayotzinapa" />
   <meta property="og:title"         content="Plataforma Ayotzinapa" />
   <meta property="og:description"   content="Forensic Architecture desarrolló una plataforma de visualización e investigación de los datos extraídos de los informes forenses del GIEI referentes al caso Ayotzinapa." />
   <meta property="og:image"         content="http://www.plataforma-ayotzinapa.org/static/archive/img/videoPic.jpg" />
    {% endblock %}
</head>

<body>
  <div class="page">
    {% block content %}{% endblock %}
  </div>
</body>
