{% extends "archive/base.html" %}

{% block content %}
<div class="page">
  <div id="explore-app"></div>
</div>
{% load static %}
<script src="{% static 'archive/js/index.bundle.js' %}" type='text/javascript'></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105861112-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
