<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Ayotzinapa{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'archive/css/index.css' %}" />
</head>

<body>
  <div class="page">
    <div class="login-wrapper">
      <div class="login-title">
        <h3>Login</h3>
        <span>Necesita estar registrado para acceder al contenido.</span>
        <p class="message">{{ message }}</p>
        <form id="login_form" method="post" action="/login">
          {% csrf_token %}
          <span>Usuario:</span><input type="text" name="username" value="" size="50" />
          <br />
          <span>Password:</span><input type="password" name="password" value="" size="50" />
          <br />
          <button type="submit">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</body>
