{% extends "archive/base.html" %}

{% block content %}
<div class=header>
  <a href="/admin">Editar</a>
  <a href="/">Inicio</a>
  <a href="/">Sobre el proyecto</a>
</div>

<div id="loading" class="loading">
  Sobre el proyecto:
</div>

{% load static %}
<script src="{% static 'archive/js/main.bundle.js' %}" type='text/javascript'></script>

{% endblock %}
