$offwhite: #efefef;
$midwhite: #a0a0a0;
$darkwhite: darken($midwhite, 15%);
$yellow: #ffd800;
$red: rgb(233, 0, 19);
$green: rgb(61, 241, 79);
$midgrey: rgb(44, 44, 44);
$darkgrey: #232323;
$black: #000000;

$victims: #FF0000;
$military: #226b22;
$non-state: #671f6f;
$police: #0000bf;
$other: #d3ce2a;
