.timeslider-wrapper {
    position: fixed;
    box-sizing: border-box;
    left: 110px;
    right: 0px;
    height: 170px;
    background: rgba($black, 0.8);
    box-shadow: 0 -10px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    color: white;
    transition: 0.2s ease;
    bottom: 0px;
    z-index: $timeslider;

    &.folded {
        transition: 0.2s ease;
        bottom: -170px;

        .timeslider-header .timeslider-toggle p .arrow-down {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
    }

    .timeslider-header {
        height: 0px;
        width: 100%;
        font-size: $large;
        font-weight: 700;
        border-bottom: 1px solid $midgrey;

        .timeslider-toggle {
            position: absolute;
            margin: 0 auto;
            width: 100%;
            text-align: center;

            p {
                width: 60px;
                height: 30px;
                margin: 0 auto;
                background: rgba($black, 0.6);
                margin-top: -30px;
                cursor: pointer;

                &:hover {
                    .arrow-down {
                        transition: 0.2s ease;
                        border-width: 0 2px 2px 0;
                    }
                }
            }

            .arrow-down {
                display: inline-block;
                transition: 0.2s ease;
                border: solid $offwhite;
                border-width: 0 1px 1px 0;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }
    }

    .timeslider-content {
        height: 160px;
        padding-top: 20px;

        .timeslider-labels {
            padding-top: 22px;
            padding-left: 20px;
            margin-right: 0px;
            border-right: 1px solid $midgrey;
            width: 170px;
            height: 180px;
            float: left;
            text-align: left;
            box-sizing: border-box;

            .timeslider-label {
                font-size: $small;
                line-height: 16px;
                color: $offwhite;
                text-align: right;
                padding-right: 10px;
            }
        }


        #timeslider {
            width: calc(100% - 190px);
            float: left;
            margin-left: 20px;

            #slider {
                display: inline-block;
                float: left;

                #x0Axis, #x1Axis, #yAxis {
                    .domain {
                        opacity: 0;
                    }

                    .tick {
                        line {
                            stroke: rgb(199, 199, 199);
                            shape-rendering: crispEdges;
                            opacity: 0.6;
                        }

                        text {
                            font-family: 'Lato', Helvetica, sans-serif;
                            fill: $midwhite;
                            text-transform: capitalize;
                        }
                    }
                }

                #x0Axis {
                    stroke-dasharray: 1px 4px;
                }

                #x1Axis {
                }

                #yAxis {
                    stroke-width: 15;
                }

                #startLabel, #endLabel {
                    font-size: $normal;
                    fill: $midwhite;
                    letter-spacing: 0.05em;
                }
            }

            #control {
                display: inline-block;
                float: left;

                path {
                    cursor: pointer;
                    transition: 0.2s ease;
                    fill: $midwhite;

                    &:hover {
                        transition: 0.2s ease;
                        fill: $offwhite;
                    }
                }

                #keyframeLabel {
                    font-size: $normal;
                    font-weight: 700;
                    fill: $offwhite;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
            }

            #dataset {

                .event {
                    cursor: pointer;
                    opacity: .8;
                }

                .coevent {
                    fill: $yellow;
                    opacity: .8;
                    cursor: pointer;
                }

                .attack {
                    opacity: 0.8;
                }

                .marker {
                    fill: none;
                    stroke: $yellow;
                    stroke-width: 2;
                }

                .pulsatingEventTimeline {
                    opacity: 0.8;
                }
            }

        }
    }
}
