body {
    margin:0;
    padding:0;
    overflow: hidden;
    font-family: sans-serif;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}
