{% block panel %}

<div class="panel">
  Here goes a long text about this scene. Here goes a long text about this scene.
  Here goes a long text about this scene. Here goes a long text about this scene.

  <div class="list">
    <div class="list-item"><a href='/archive/escena/palacio-de-justicia'>Palacio de Justicia</a></div>
    <div class="list-item"><a href='/archive/escena/santa-teresa'>Santa Teresa</a></div>
    <div class="list-item"><a href='/archive/escena/juan-alvarez'>Juan Alvarez</a></div>
  </div>

  <div class="instructions">
    <p>Usa el botón izquierdo del mouse para rotar la escena.</p>
    <p>Usa el botón derecho del mouse para navegar.</p>
    <p>Haz doble click en cualquier lugar de la escena para acercarte.</p>
  </div>
</div>

{% endblock %}
